SoerenMartius\WishlistBundle\Model\Wishlist:
    type: entity
    table: wishlist
    id:
        id:
            type: integer
            generator: { strategy: AUTO }
    fields:
        customerId:
            type: integer
            column: customer_id
            length: 11
        sharingCode:
            type: string
            column: sharing_code
            length: 255
            unique: true
        createdAt:
            type: datetime
            column: created_at
            gedmo:
                timestampable:
                    on: create
        updatedAt:
            type: datetime
            column: updated_at
            gedmo:
                timestampable:
                    on: update
    oneToMany:
        items:
            targetEntity: SoerenMartius\WishlistBundle\Model\Item
            mappedBy: wishlist
            joinColumn:
                name: id
                referencedColumnName: wishlist_id
    indexes:
        wishlist_customer_index:
            columns: [ id, customer_id ]
